@use '../../styles/variables';

.experiences-background {
  background-color: #5a818b;
  padding: 1em 0;
  overflow-x: hidden;
  // transition: 0.5s;
  min-height: 100vh;
}

.experiences-title {
  font-size: variables.$fsStandard * 1.8;
  // color: variables.$lightTextColor;
  width: 100vw;
  height: 32px;
  font-weight: 600;
  margin: 1em 0 0 1em;
  text-decoration: underline;
  overflow: hidden;
  &--hidden {
    opacity: 0;
    height: 32px;
    overflow: hidden;
    margin-top: 1em;
    text-align: center;
    font-size: variables.$fsStandard * 1.8;
  }
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.experiences-container {
  // color: variables.$lightTextColor;
  // background-color: #5a818b;
  display: flex;
  width: 99%;
  justify-content: center;
  gap: variables.$gutter;
  margin: variables.$gutter * 2 0;
  position: relative;
  .line {
    // position: absolute;
    height: inherit;
    // left: 11.5%;
    margin-left: 2em;
    width: 2px;
    background-color: #000;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 30px 0;
    gap: variables.$gutter * 0.2;
  }
}

.individualExperience-container {
  display: flex;
  width: 95%;
  margin-bottom: variables.$gutter;
  position: relative;
  padding: 20px;
  background-color: rgb(255 255 255 / 18%);
  border-radius: 5px;
  &-bullet {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    background-size: cover;
    border-radius: 50%;
  }
  &-text {
    width: 90%;
  }
}

.individualExperience {
  &-bullet {
    height: 40px;
    width: 40px;
    background-size: cover;
    position: absolute;
    border-radius: 40px;
    // border: 2px solid variables.$lightTextColor;

    border: 2px solid variables.$lightTextColor;
    left: -54px;
  }
  &-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 600;
    font-size: variables.$fsStandard * 1;
    margin-bottom: variables.$gutter * 0.2;
  }
  &-location {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: variables.$fsStandard;
    margin-bottom: variables.$gutter * 0.2;
  }
  &-date {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: variables.$fsStandard * 0.8;
    font-style: italic;
    margin-bottom: variables.$gutter * 0.2;
  }
  &-description {
    text-align: justify;
    hyphens: auto;
    line-height: 1.2;
    margin-bottom: variables.$gutter * 0.9;
  }
}
.hidden {
  display: none;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in-bottom {
  transition: 0.5s;
  -webkit-animation: fade-in-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 3.5s linear infinite;
  transform-origin: center;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .experiences-container {
    width: 70%;
  }
  .experiences-background {
    padding: 3em 4em;
    background-color: #fff;
  }
  .experiences-background {
    width: 100%;
  }

  .individualExperience-container {
    background: #ffffff;
    color: #4e5a6b;
    width: 100%;
    box-shadow: 3px 8px 13px 0px #ededed;
  }
  .individualExperience-bullet {
    // height: 52px;
    // width: 52px;
    // left: -61px;
    top: -10px;
  }

  .individualExperience-title {
    font-size: variables.$fsStandard;
    color: #020817;
    margin-bottom: 1em;
  }
  .individualExperience-location {
    font-size: variables.$fsStandard * 0.9;
    margin-bottom: 1.5em;
    color: #020817;
  }
  .individualExperience-date {
    font-size: variables.$fsStandard;
    margin-bottom: 1.5em;
  }
  .individualExperience-description {
    font-size: variables.$fsStandard * 0.9;
    width: 90%;
    line-height: variables.$gutter * 0.8;
  }
}
