@use '../../styles/variables';

.portfolio {
  // background-color: #5a818b;
  // background-color: white;
  padding: 1em 0;
  width: 100%;

  &-title {
    font-size: variables.$fsStandard * 1.8;
    // color: variables.$lightTextColor;
    // width: 100vw;
    height: 32px;
    font-weight: 600;
    // text-align: left;
    margin: 1em 0 1em 1em;
    text-decoration: underline;
    overflow: hidden;
    // opacity: 1;
    &--hidden {
      opacity: 0;
      height: 32px;
      overflow: hidden;
      margin-top: 1em;
      text-align: center;
      font-size: variables.$fsStandard * 1.8;
    }
  }
  &-text {
    // color: variables.$lightTextColor;
    width: 86%;
    margin: 0 auto variables.$gutter;
    text-align: justify;
    hyphens: auto;
    line-height: 1.8;
  }
}
.portfolio-hint {
  // color: variables.$lightTextColor;
  width: 87%;
  margin: 0 auto 1.5em;
  font-size: variables.$fsStandard * 0.7;
  border-left: 1px solid black;
  padding-left: 5px;
  line-height: 1.8;
}

.flip-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  gap: variables.$gutter * 0.5;
  margin: 0 auto variables.$gutter;
}

@media screen and (min-width: 768px) {
  .portfolio {
    width: 100%;
    margin: 0 auto;
    &-title {
      width: 87%;
      margin: 0 auto 1.5em;
    }
    &-text {
      width: 87%;
      margin: 0 auto 1.5em;
    }
  }

  .portfolio-hint {
    width: 87%;
    margin: 0 auto 3.5em;
    font-size: 0.8rem;
  }
}
