/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

$backgroundDarkColor: #232323;
$backgroundLightColor: #fffffa;

$mainDarkColor: #232323;
$mainLightColor: #fffffa;
$emphaseColor: #7150d5;

$mainFont: 'Raleway', sans-serif;
$gutter: 2em;
$fsStandard: 1rem;

$lightTextColor: #f3f3f3;
$darkTextColor: #232323;
