@use '../../styles/variables';

.form-title {
  font-size: variables.$fsStandard * 1.8;
  // color: variables.$lightTextColor;
  // width: 100vw;
  height: 32px;
  font-weight: 600;
  // text-align: left;
  margin: 1em 0 0 1em;
  text-decoration: underline;
  overflow: hidden;
  // opacity: 1;
  &--hidden {
    opacity: 0;
    height: 32px;
    overflow: hidden;
    margin-top: 1em;
    text-align: center;
    font-size: variables.$fsStandard * 1.8;
  }
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: variables.$gutter auto;
  padding: 20px 15px;
  border-radius: 3px;

  .form-text {
    margin: 0 auto variables.$gutter * 0.8;
    width: 90%;
    color: #5a818b;
    line-height: 1.5em;
    // text-align: left;
  }
  .formInput {
    width: 90%;
    height: 3em;
    border-radius: 0px;
    border: none;
    gap: 1em;
    display: flex;
    margin: 0 auto 1em;
    justify-content: center;
    // background-color: red;
    margin-bottom: variables.$gutter * 1.2;
    border-bottom: 1px solid black;
    font-family: variables.$mainFont;
    &--message {
      height: 150px;

      &::placeholder {
        position: absolute;
        top: 10px;
      }
    }

    &:focus {
      border-bottom: 1px solid #f9682e;
    }

    &--button {
      background-color: #183153;
      border: none;
      color: #fff;
      font-weight: 800;
      border-radius: 3px;

      font-size: variables.$fsStandard;
      transition: 0.3s;
      cursor: pointer;
      &:active {
        background-color: #f9682e;
        // color: #042944;
        transition: 0.3s;
        scale: 0.98;
      }
    }
  }

  .contact-form-label {
    display: none;
  }

  .formInput-name-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: flex-start;
    margin: 0 0.5em;
  }

  .name-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // margin: 0;
    width: 92%;
  }

  .formInput--name {
    width: 100%;
  }
  .form-control {
    padding: 0;
  }

  .errorMessage {
    width: 90%;
    color: rgb(255, 241, 241);
    background-color: rgba(243, 0, 0, 0.548);
    padding: 8px 5px;
    border-radius: 3px;
    justify-content: flex-start;
    margin: 0 auto 1em;
    font-weight: 500;

    display: flex;
  }

  .alert {
    display: flex;
    position: relative;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 8px 10px;
    height: 3em;
    border-radius: 3px;
    font-weight: 500;
    color: #fff;
    &-success {
      background-color: #1a691d;
    }
    &-danger {
      background-color: #c42222;
    }
  }
  .btn-close {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    height: 2em;
    width: 2em;
    scale: 1.2;
    padding: 0;
    justify-content: center;
    top: 75%;
    transform: translateY(-50%);
    right: 20px;
    text-align: center;
    justify-content: center;

    border: none;
    background: transparent;
    color: #fff;
    scale: 2;
    transition: 0.3s;
    &:active {
      scale: 0.95;
      transition: 0.3s;
    }
  }
}
